{% extends 'myparent.html' %}
{% load static %}
{% block title%}
welcome to shopping site
{% endblock %}

{% block content %}

<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url({% static 'images/bg-01.jpg' %});">
		<h2 class="ltext-105 cl0 txt-center">
			Change Password
		</h2>
	</section>
<!-- Content page -->
	<section class="bg0 p-t-104 p-b-116">
		<div class="container">
			<div class="flex-w flex-tr">
				<div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
					<form method="post">
						<h4 class="mtext-105 cl2 txt-center p-b-30">
							Change Password
						</h4>

                        {% csrf_token %}

                        <form action="{% url 'changepassword' %}">

                        {% if messages %}
                                    {% for message in messages %}
                                    {{ message }}
                                    {% endfor %}

                                    {% endif %}
							<div class="bor8 m-b-20 how-pos4-parent">
							<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="password" name="oldpassword" placeholder="Old Password">
<!--							<img class="how-pos4 pointer-none" src="images/icons/icon-email.png" alt="ICON">-->
						</div>

						<div class="bor8 m-b-20 how-pos4-parent">
							<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="password" name="newpassword" placeholder="New Password">
<!--							<img class="how-pos4 pointer-none" src="images/icons/icon-email.png" alt="ICON">-->
						</div>

						<div class="bor8 m-b-20 how-pos4-parent">
							<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="password" name="confirmpassword" placeholder="Confirm Password">
<!--							<img class="how-pos4 pointer-none" src="images/icons/icon-email.png" alt="ICON">-->
						</div>

						<button class="flex-c-m stext-101 cl0 size-112 bg7 bor11 hov-btn3 p-lr-15 trans-04 m-b-10">
												Change Password
											</button>
						</form>
				  </div>
			</div>

            </div>
        </div>
	</section>

{% endblock %}


