{% extends 'myparent.html' %}
{% load static %}
{% block title%}
welcome to shopping site
{% endblock %}

{% block content %}

<!-- Checkout Section Begin -->
<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url({% static 'images/bg-01.jpg' %});">
		<h2 class="ltext-105 cl0 txt-center">
			Checkout!!
		</h2>
	</section>
<!-- Content page -->
	<section class="bg0 p-t-104 p-b-116">
		<div class="container">
			<div class="flex-w flex-tr">
				<div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">

						<h4 class="mtext-105 cl2 txt-center p-b-30">
							Check Out!!
						</h4>
					<form action="{% url 'saveorder' %}" method="post">
						 {% csrf_token %}

                        <div class="bor8 m-b-20 how-pos4-parent">
							<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="name" placeholder="Your Name">
<!--							<img class="how-pos4 pointer-none" src="images/icons/icon-email.png" alt="ICON">-->
						</div>

						<div class="bor8 m-b-20 how-pos4-parent">
							<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="zipcode" placeholder="Zip Code!!">
<!--							<img class="how-pos4 pointer-none" src="images/icons/icon-email.png" alt="ICON">-->
						</div>

						<div class="bor8 m-b-20 how-pos4-parent">
							<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="phone" placeholder="Phone No!!">
<!--							<img class="how-pos4 pointer-none" src="images/icons/icon-email.png" alt="ICON">-->
						</div>

						<div class="bor8 m-b-20 how-pos4-parent">
							<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="email" placeholder="Email!!">
<!--							<img class="how-pos4 pointer-none" src="images/icons/icon-email.png" alt="ICON">-->
						</div>

						<div class="bor8 m-b-20">
							<textarea class="stext-111 cl2 plh3 size-120 p-lr-28 p-tb-25" name="address" placeholder="Your Address?"></textarea>
						</div>



<!--						<button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">-->
<!--							Submit-->
<!--						</button>-->






				</div>
				<div class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
					<div class="flex-w w-full p-b-42">
						<span class="fs-18 cl5 txt-center size-211">
<!--							<span class="lnr lnr-map-marker"></span>-->
						</span>

						<div class="size-212 p-t-2">
							<span class="mtext-110 cl2 ml-5">
								Your Order!!
							</span>

							<div class="mtext-110 cl2 ml-5">Product <span class="mtext-110 cl2 ml-1">Total</span></div>
							  {% if cart_data %}

							<ul class="stext-115 cl6 size-213 p-t-18">
                                     {% for data in cart_data %}
                                    <li>{{ data.product }} x {{ data.qty }} <span>Rs.{{ data.total_cost }}/-</span></li>
                                    {% endfor %}
                                </ul>
							{% endif %}

							<ul class="stext-115 cl6 size-213 p-t-18">
                                    <li class="mtext-110 cl2 ml-5"> Shipping Charge
                                        <span>{% if shipping == 0 %}
                                            Free
                                            {% else %}
                                            {{ shipping }}/-
                                            {% endif %}
                                        </span></li>
                                    <li class="mtext-110 cl2 mt-3 ml-5">Grand Total <span>Rs.{{ gtotal }}/-</span></li>
                                </ul>

							<input type="hidden" name="shippingcharges" value="{{ shipping }}">
                                <input type="hidden"  name="grandtotal" value="{{ gtotal }}">

							<div class="bor8 m-b-20 how-pos4-parent mt-2">
							<p class="mtext-110 cl2 mt-2 pl-5">Choose your Payment Method</p>

                                    <label for="cod" class="ml-5 mt-2">

                                        <input type="radio" name="paymenttype" value="cod" id="cod">Cash on Delivery

                                    </label>


                                    <label for="paytm" class="ml-5 mt-2">

                                        <input type="radio" name="paymenttype" value="paytm" id="paytm">Paytm on +9199384983498

                                    </label>

                                    <label for="gpay" class="ml-5 mt-2">

                                        <input type="radio" name="paymenttype" value="gpay" id="gpay">Google Pay on +9198394834909

                                    </label>


<!--							<p class="stext-115 cl6 size-213 p-t-18">-->
<!--								Coza Store Center 8th floor, 379 Hudson St, New York, NY 10018 US-->
<!--							</p>-->
                      </div>
						</div>
					</div>

<!--					<div class="flex-w w-full p-b-42">-->
<!--						<span class="fs-18 cl5 txt-center size-211">-->
<!--							<span class="lnr lnr-phone-handset"></span>-->
<!--						</span>-->

<!--						<div class="size-212 p-t-2">-->
<!--							<span class="mtext-110 cl2">-->
<!--								Lets Talk-->
<!--							</span>-->

<!--							<p class="stext-115 cl1 size-213 p-t-18">-->
<!--								+1 800 1236879-->
<!--							</p>-->
<!--						</div>-->
<!--					</div>-->

<!--					<div class="flex-w w-full">-->
<!--						<span class="fs-18 cl5 txt-center size-211">-->
<!--							<span class="lnr lnr-envelope"></span>-->
<!--						</span>-->

<!--						<div class="size-212 p-t-2">-->
<!--							<span class="mtext-110 cl2">-->
<!--								Sale Support-->
<!--							</span>-->

<!--							<p class="stext-115 cl1 size-213 p-t-18">-->
<!--								contact@example.com-->
<!--							</p>-->
<!--						</div>-->
<!--					</div>-->
					<button type="submit" class="flex-c-m stext-101 cl0 size-101 bg1 0bor1 hov-btn1 p-lr-15 trans-04">PLACE ORDER</button>

<!--					<input type="submit" name="submit" class="flex-c-m stext-101 cl0 size-101 bg1 0bor1 hov-btn1 p-lr-15 trans-04" value="Placeorder!!"></a>-->
				</div>
            </div>
        </div>
		</form>
	</section>


{% endblock %}


